@use "../abstract/index" as *;

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.content-container {
  position: relative;
  margin: clamp(3rem, 4vw, 10rem) auto;
  padding: 1px 2rem;
  width: 100%;

  &--bg {
    // background-image: url("../../assets/imgs/culture-page/hermonback.png");
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;
    background-color: #ededf5;
    padding: 10em;
  }

  &--gradient {
    background: var(--indigo);
    background: rgb(69, 56, 120);
    background: linear-gradient(
      90deg,
      rgba(69, 56, 120, 1) 0%,
      rgba(97, 84, 199, 1) 35%,
      rgba(153, 135, 255, 1) 100%
    );
  }

  &--gapless-bottom {
    margin-bottom: 0;
  }

  &__container {
    @include container;

    @include media(tablet-l) {
    }

    //  &--wide {
    //    @include containerWide;
    //  }

    &--2col {
      @include space-between();
      flex-direction: column;
      // align-items: stretch;
      gap: 0;

      @include media(mobile-xl) {
        gap: clamp(2rem, 6vw, 8rem);
        flex-direction: row;
      }

      > * {
        flex: 1 1 50%;
      }
    }
  }
}

.text-container {
  position: relative;
  overflow: hidden;

  &--white-bg {
    background-color: white;
    border-radius: 20px;
    padding: clamp(2rem, 3vw, 5rem);
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  &--bg-none {
    border-radius: 20px;
    padding: clamp(2rem, 3vw, 5rem);
    margin-top: 5rem;
    // margin-bottom: 8rem;
    color: white;
  }

  &--small-text-container {
    width: 50%;
    background-color: white;
    @include media(mobile-l) {
      width: 100%;
    }
  }

  .corner-image {
    position: absolute;
    background-size: contain;
    max-width: 60%;
    right: -5%;
    bottom: -2%;

    @include media(mobile-l) {
      right: -10%;
      max-width: 40%;
    }

    @include media(tablet-pt) {
      max-width: 40%;
      bottom: -5%;
    }

    @include media(tablet-l) {
      width: 30%;
      right: -5%;
    }
  }

  &--1col {
    column-count: 1;
  }

  &--2col {
    @include media(tablet-pt) {
      column-count: 2;
      column-gap: 5%;

      h1,
      h2 {
        max-width: 26ch;
        column-span: all;
      }
    }
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.image-container {
  position: relative;
  align-self: self-end;

  img {
    position: absolute;
    bottom: 0;
  }
}

.large-buttons-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  @include media(mobile-xl) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media(tablet-pt) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include media(tablet-l) {
    grid-template-columns: repeat(5, 1fr);
  }

  justify-items: center;
  text-align: center;

  & > * {
    margin-bottom: 3rem;
  }
}
