html {
  font-size: 62.5%;
  // This makes 1rem = 10px, making it easier to set exact pizel sizes with responsive units when needed.

  @supports (scroll-behavior: smooth) {
    scroll-behavior: smooth;
  }
}

html,
*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  // this gives you complete custom control of the width of your elements without needing to calculate width+padding+border
  box-sizing: border-box;
}

main,
section {
  position: relative;
}

img {
  display: inline-block;
  max-width: 100%;
  object-fit: cover;
}

button {
  letter-spacing: 1px;
  border: none;
  width: auto;
  overflow: visible;
  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;

  &:focus,
  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }
}
#root {
  width: 100%;
}
